<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Event time just changed</h1>
    <p>
      We would like to inform you about Event time changes.<br/>
    </p>
    <p>Thanks for following us and have a great day!</p>
  </body>
</html>