.gitignore

# Игнорирование конфига bundler
/.bundle

# Игнорирование всех логов и временных файлов.
/log/*.log
/tmp

# Игнорирование прочих ненужных файлов.
doc/
*.swp
*~
.project
.DS_Store
.idea

/coverage/


db/*.sqlite3
db/schema.rb



#config/routes.rb
#Gemfile

db/development.sqlite3



 






