<!DOCTYPE html>
<head>
	<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
	<h1>Welcome to Easyway, <%= @user.username %></h1>
	<p>
		You have successfully signed up to <b>Easyway</b>,
		your username is: <%= @user.username%>.
		<br/>
	</p>
	<p>
		To login to the site, just follow this link: <%= @url %>.
	</p>
	<p>
		Thanks for joining and have a great day!
	</p>
	<%= image_tag attachments['logo1.png'].url %>
	
	<b>Easyway Team!</b>
</body>
</html>