<div class="boxforforms">
<h3>Editing notify observer property</h3>

<%= render 'form' %>

<%= link_to 'Show', @notify_observer_property, :class => "btn btn-info" %> 
<%= link_to 'Back', notify_observer_properties_path, :class => "btn btn-info" %>
</div>
