.slideshow {
  width: 750px;
  height: 550px;
  float: left;
  border: solid 1px #ccc;
  background: #fff;
  -webkit-border-radius: 12px;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.5);
}
.slideshow img {
  background: #fff;
  width: 100%;
}
.group {
  width: 750px;
  margin: 10px auto;
}
