.nested_menu_item{
	margin-left : 15px;
	
}
html,body{
	height: 100%;
}
.hHeader {
height: 105px;
}
.header{
height:105px;
background:url(../images/header.jpg) no-repeat  ;
background-size:100% 100px;
background-position:bottom;
border-radius:0;
margin: 0px 0 -105px 0;
}
/*.bodybg{
background-image:url(../images/bg.png);
height: 100%;
}*/
.hFooter {
height: 50px;
}

.footer{
width: 100%;
height:50px;
background-image:url(../images/footer.jpg);
background-size:100% 100%;
margin-top: -50px;
z-index: 100;
text-align: center;
padding-top: 5px;
/*border-radius:10px 10px 0 0;*/
}
.content{
width:100%;
min-height: 721px;

/*outline:1px solid #FAA21A;*/
}
.logo{
/*background:url(../images/logo3.png) no-repeat;*/
width:135px;
height:96%;
float:left;
background-position:100% 10%;
position: relative;
margin-left: 63px;
margin-top: 10px;
background-size:80% auto;
#outline:1px solid #ffffff;
}
.buttonfloat{
float:right;
margin:15px 5px 15px 5px;
	
}
.headerTop{
width:100%;
height:60%;
display:inline-block;
}
.headerBottom{
       width: 100%;
      height: 40%;
	 display: inline-block;
	 text-align: center;
}

	
	
.boxforforms{
width:400px;
height:300px;
margin:auto;
padding:10px 100px 10px 0;
/*border: 1px red solid;*/
}

.form_sign_in{
	display: inline;
	text-align: center;
	margin: auto;
}
.marginforforms{
margin: 20px 0 20px 0;	
}

.font_for_menu{
font-size:11pt;	

}
.lll{
padding: 0 18px 0 0;
font-size:14pt;
margin:auto;
}
.highlight{
  display: inline-block !important;
  border-color: rgba(255, 0, 0, 2) !important;
  outline: 0 !important;
  outline: thin dotted \9 !important;
 /* IE6-9 */

  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 12px rgba(255, 0, 0, 0.6) !important;
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 12px rgba(255, 0, 0, 0.6) !important;
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 12px rgba(255, 0, 0, 0.6) !important;
	
}
.star{
background:url(../images/star.png)  no-repeat;
width:20px;
height:20px;
float:right;
background-size:100% 100%;
margin:15px 10px 0 0;
}
.border_for_tables{
width:800px;
height:400px;
margin:auto;
}
