.nested_menu_item{
	margin-left : 15px;
	
}

.header{
height:100px;
background:url(../images/header.jpg) no-repeat  ;
background-size:100% 100%;
border-radius:0;
margin: 5px 0 0 0;
}
.bodybg{
background-image:url(../images/bg.png);
}
.footer{
width:auto;
height:50px;
background-image:url(../images/footer.jpg);
background-size:100% 100%;
/*border-radius:10px 10px 0 0;*/
}
.content{
width:100%;
min-height:490px;
/*outline:1px solid #FAA21A;*/
}
.logo{
background:url(../images/logo3.png) no-repeat;
width:135px;
height:100%;
float:left;
/*background-position:100% 10%;*/
position: relative;
margin-left: 63px;
margin-top: 5px;
background-size:80% auto;
#outline:1px solid #ffffff;
}
.buttonfloat{
float:right;
margin:5px;
	
}
.headerTop{
width:100%;
height:60%;
display:inline-block;
}
.headerBottom{
       width: 100%;
      height: 40%;
	 display: inline-block;
	 text-align: center;
}

	
	
.boxforforms{
width:500px;
min-height:400px;
outline:1px solid #FAA21A;

text-align:center;
margin:auto;
padding:10px 0 10px 0;
border: 1px red solid;
}

.form_sign_in{
	display: inline;
	text-align: center;
	margin: auto;
}
.marginforforms{
margin: 20px 0 20px 0;	
}
.boxforcrud{
width:300px;
height:400px;
outline:1px solid #FAA21A;	
}
.lll{
padding: 0 18px 0 0;
font-size:14pt;
}