<% if @resources_hor %>
  <table class="table">
    <tbody>

      <tr id="table-resources">
        <% @resources_hor.each do |res| %>
          <td class="table-resource-parent">
            <% res.resource_values.each do |val| %>
              <%= val.value %>
            <% end %>
          </td>
        <% end %>
      </tr>

      <% if @headers_hor.length > 1 %>
      <tr>
        <% @resources_hor.each do |res| %>
          <% @first_children = ResourceValue.where("resource_reference_id = ?", res.id) %>
          <% @first_children.each do |child| %>
          <td class="table-resource-child">
            <% child.resource.resource_values.each do |resval|%>
              <%= resval.value %>
            <% end %>
          </td>
        <% end %>
      <% end %>
      </tr>
    <% end %>

  </tbody>
  </table>
<% end %>