<html class="form-horizontal">
<h1>Create new table template</h1>

<%= render 'form' %>
<div class="control-group">
	<div class="controls">
		<%= link_to 'Back', table_templates_path %>
	</div>
</div>	
<html>
