<div class="boxforforms">
<h3>Editing recipient</h3>

<%= render 'form' %>

<%= link_to 'Show', @recipient, :class => "btn btn-info" %> 
<%= link_to 'Back', recipients_path, :class => "btn btn-info" %>
</div>
