<section class="group">
<div id="slideshow1" class="slideshow">
  <img src="ScreenShots/1.jpg">
  <img src="ScreenShots/2.png">
  <img src="ScreenShots/3.jpg">
  <img src="ScreenShots/4.jpg">
  <img src="ScreenShots/5.jpg">
  <img src="ScreenShots/6.jpg">
  <img src="ScreenShots/8.png">
</div>
</section>
<script src="js/start.js"></script>