<h3>Pacemaker is conference management site, which contains information about past and upcoming conferences, their speakers and topics, locations and schedule of events and etc. Whole application is split into administrative and public parts. On the next chapters you will get detailed instruction how to use it.</h3>
<a href=""> User guide</a>