<h2>Authors of the Pacemaker site</h2>
<h4>Expert: </h4>
<p>Dmytro Panov</p>
<h4>Teachers: </h4>
<p>Ivan Chyr, Vyacheslav Koldovsky</p>
<h4>Developers: </h4>
<p>Artem Shymchuk,
Igor Kotsiuba,
Mariia Herasymiv,
Marko Shchutskyy,
Natalia Diedyk,
Vadym Kirdan,
Volodymyr Igovin</p>

<p>Thank you all!</p>