<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @event_property.name %>
</p>


<%= link_to 'Edit', edit_event_property_path(@event_property) %> |
<%= link_to 'Back', event_properties_path %>
