<div class="boxforforms">
<h3 align="center">Editing resource</h3>

<%= render 'form' %>
<script src="/js/form.js"></script>
<%= link_to 'Show', @resource %> |
<%= link_to 'Back', resources_path %>
</div>
