<h1>Editing notify_observer</h1>

<%= render 'form' %>

<ol>
<% for notify_observer_property in @notify_observer.notify_observer_properties %>
  <li><%= h notify_observer_property.name %></li>
<% end %>
</ol>

<%= link_to 'Show', @notify_observer %> |
<%= link_to 'Back', notify_observers_path %>
