<h1>Editing notify_observer</h1>

<%= render 'form' %>


<%= link_to 'Show', @notify_observer, :class => "btn btn-info" %>
<%= link_to 'Back', notify_observers_path, :class => "btn btn-info" %>
