<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @notify_observer.name %>
</p>


<%= link_to 'Edit', edit_notify_observer_path(@notify_observer) %> |
<%= link_to 'Back', notify_observers_path %>
