.controls-ne {
    margin-left: 0;
    padding: 0;
    text-align: right;

}

.controls-no {
    margin-left: 0;
    padding: 0;
    text-align: left;

}

.form-inline-ne {
    text-align: left;
}