<html class="form-horizontal">
<h1>Add new table filter</h1>

<%= render 'form' %>
<div class="control-group">
  <div class="controls">		
    <%= link_to 'Back', table_filters_path %>
  </div>
</div>  
</html>
